.container {
  background-color: black;
  width: 100%;
}

.jumbotron {
    background-image: url("../images/train.jpg");
    background-size: cover;
    color: white;
}

.card-header {
  background-color: rgb(49, 109, 172);
  color: white;
  
}

.card-body a {
  word-break: break-all;
}